@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #cecaca;
  font-family: "League Spartan", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
}

.wrapper {
  background: #fff;
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .container .box {
  width: 100%;
  max-width: 840px;
  height: 534px;
  background-image: url(/img/Bitmap\ .svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .container .box .img {
  display: none;
}
.wrapper .container .box header {
  padding: 63px 64px;
}
.wrapper .container .box header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .container .box header .nav .burger {
  display: none;
}
.wrapper .container .box header .nav img {
  display: inline;
}
.wrapper .container .box header .nav ul {
  color: #fff;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}
.wrapper .container .box header .nav ul .nav_list {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.14em;
}
.wrapper .container .box header .nav ul .nav_list:hover {
  border-bottom: 1px solid #fff;
}
.wrapper .container .text {
  max-width: 800px;
  height: 534px;
}
.wrapper .container .text .text_info {
  padding: 120px 0 0 100px;
}
.wrapper .container .text .text_info h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: -2px;
  max-width: 400px;
  height: 91px;
}
.wrapper .container .text .text_info p {
  margin-top: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 400px;
  height: 110px;
  color: #a0a0a0;
}
.wrapper .container .text .text_info span {
  margin-top: 26px;
  max-width: 162px;
  line-height: 16px;
  letter-spacing: 13px;
  height: 16px;
  font-weight: 500;
  font-size: 15px;
}
.wrapper .container .text .text_info span:hover {
  cursor: pointer;
  color: #a0a0a0;
}
.wrapper .container .text .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
}
.wrapper .container .text .button .img {
  margin-top: 100px;
}
.wrapper .container .text .button .img:hover {
  cursor: pointer;
}
.wrapper .container .text .button .img:hover rect {
  fill: #444444;
}
.wrapper .main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
}
.wrapper .main_container .behruz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .main_container .furniture_information {
  padding: 68px 48px;
  max-width: 580px;
  height: 266px;
}
.wrapper .main_container .furniture_information h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 7px;
}
.wrapper .main_container .furniture_information p {
  margin-top: 16px;
  color: #a0a0a0;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 375px;
    height: 1500px;
  }
  .wrapper .container {
    display: grid;
  }
  .wrapper .container .box {
    position: relative;
    width: 375px;
    height: 240px;
    background-size: 100%;
  }
  .wrapper .container .box .button {
    position: absolute;
    top: 180px;
    left: 263px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
  }
  .wrapper .container .box .button .img {
    gap: 0px;
    width: 56px;
    height: 56px;
    display: inline;
  }
  .wrapper .container .box header {
    padding: 48px 24px;
  }
  .wrapper .container .box header .nav .burger {
    display: inline;
    width: 20px;
    height: 14px;
  }
  .wrapper .container .box header .nav ul li {
    display: none;
  }
  .wrapper .container .text {
    width: 375px;
    height: 410px;
    padding: 60px 32px;
  }
  .wrapper .container .text .img {
    display: none;
  }
  .wrapper .container .text .text_info {
    padding: 0;
    width: 375px;
    height: 278px;
  }
  .wrapper .container .text .text_info span {
    margin-top: 500px;
  }
  .wrapper .container .text .text_info .line {
    margin-top: 41px;
    display: inline;
  }
  .wrapper .container .text .text_info h1 {
    width: 311px;
    height: 72px;
    font-size: 40px;
  }
  .wrapper .container .text .text_info p {
    width: 311px;
    height: 132px;
  }
  .main_container {
    width: 375px;
  }
  .main_container .behruz {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main_container .behruz img {
    margin-top: 31px;
    width: 376px;
    height: 268px;
  }
  .main_container .behruz .furniture_information {
    padding: 49px 33px;
    width: 375px;
  }
}